.header-bg {
  background-color: var(--cor-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0;
}

.header-menu {
  display: flex;
  gap: 2.50rem;
  flex-wrap: wrap;
}

.header-menu a {
  padding: 1rem 0;
  display: inline-block;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--cor-0);
  margin-top: 4px;
  transition: .3s;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}


@media (max-width: 800px) {
  .header-menu a {
    background-color: var(--cor-12);
    padding: 12px 0;
    border-radius: 4px;
  }

  .header-menu a::after {
    display: none;
  }

  .header-menu {
    gap: 1.25rem;
  }

  .header-menu a:hover {
    background-color: var(--cor-5);
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }

}